body {
    background-color: #57636F;
    font-family: 'Chakra Petch';
    color: #C9CCD0;
}

.content {
    background-color: #072035;
}

.bg-image {

    background-image: url("./World-Map.png");

    animation: slide 30s linear infinite;
    
}


@keyframes slide {
    from {
        background-position: 0 0;
    }
    
    to {
        background-position: -1440px 0;
    }
}


.profile-img {
    
    max-width: 210px;
    max-height: 210px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    
}

.profile-img img {
    max-width: 200px;
    max-height: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }



/* time line style */
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #57636F;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #57636F;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
ul.timeline-list {
	position: relative;
	/* margin: 0; */
	padding: 0
}
ul.timeline-list:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #57636F;
	left: 50%;
	top: 0;
  
  /* margin-left: 20px;
  margin-right: 20px; */
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
}
.timeline_content {
  border-right: 2px solid #57636F;
	border-radius: 10px 2px 2px 10px;
	background-color:#f3f3f3;
  z-index: 3;
  box-sizing: border-box;
}
ul.timeline-list li .timeline_content {
	width: 45%;
	color: #333;
	padding: 30px;
	float: left;
	text-align: right;
  /* position: relative; */

}
ul.timeline-list li:nth-child(2n) .timeline_content {
  float: right;
	text-align: left;
  border-right: 0px;
  border-left: 2px solid #57636F;
  border-radius: 2px 15px 15px 2px;
  margin-left: 30px;
}
.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}
ul.timeline-list li:before {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
  border: 2px solid;
  background-color: #072035;
	border-color: #57636F;
	left: 50%;
	top: 8%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
  z-index: 1;
}

ul.timeline-list li:nth-child(2n):after {
  position: absolute;
  content: "";
	width: 5%;
  height: 2px;
  background-color: #57636F;
  left: 50%;
  top: 8%;
  z-index: 0;
}

ul.timeline-list li:after {
  position: absolute;
  content: "";
	width: 5%;
  height: 2px;
  background-color: #57636F;
  left: 45%;
  top: 8%;
  z-index: 0;
}

.timeline_content span {
	font-size: 18px;
	font-weight: 500;
	color: #072035;
}


@media only screen and (max-width: 766px){

  .timeline_content {
    z-index: 3;
    margin-bottom: 25px;
  }

  ul.timeline-list:before {
    left: 3%;
  }

  ul.timeline-list li:before {
    left: 2%;
  }
  
  ul.timeline-list li:after {
    left: 3% !important;
  }

  ul.timeline-list li .timeline_content {
    width: 90%;
    padding: 10px;
    float: left !important;
    text-align: left !important;
    border-right: 0px;
    border-left: 2px solid #57636F;
    border-radius: 2px 15px 15px 2px;
    margin-left: 8% !important;
  }
}
